force-app/unmanaged/main/CmTable/flows/CM_Table_Sample_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>add_Variables</name>
        <label>add_Variables</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>var_newTodoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_TempNewTodo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_SelectedRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Task</name>
        <label>作成するToDo一時定義</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_TempNewTodo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempNewTodo.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempNewTodo.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempNewTodo.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempNewTodo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempNewTodo.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_SelectedRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Variables</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>options_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>options_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CM_Table_Sample_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>取引先ToDo一括作成(CM Table Sample)</label>
    <loops>
        <name>loop_SelectedRecords</name>
        <label>指定の取引先一覧確認</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>input_Table.selectedRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insert_ToDoList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insert_ToDoList</name>
        <label>ToDo一括作成</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>screen_Success</targetReference>
        </connector>
        <inputReference>var_newTodoList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Accounts</name>
        <label>get_Accounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Input</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_Input</name>
        <label>入力画面</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_SelectedRecords</targetReference>
        </connector>
        <fields>
            <name>displayInput_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;各取引先に関係したToDoを一括作成します。&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Subject</name>
                    <dataType>String</dataType>
                    <fieldText>件名</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>input_ActivityDate</name>
                    <dataType>Date</dataType>
                    <fieldText>期日</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input_Priority</name>
                    <choiceReferences>options_Priority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>優先度</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>input_Status</name>
                    <choiceReferences>options_Status</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>状況</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Description</name>
            <fieldText>コメント</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_Input_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Input_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:cmTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>originalRecords</name>
                <value>
                    <elementReference>get_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldNames</name>
                <value>
                    <stringValue>Name,Phone,BillingAddress,Website</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>height</name>
                <value>
                    <numberValue>250.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Success</name>
        <label>完了画面</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaySuccess_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;以下取引先に関係したToDoを一括作成しました。&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Success_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Success_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaySuccess_InputData1</name>
                    <fieldText>&lt;p&gt;件名&lt;/p&gt;&lt;p&gt;{!input_Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;期日&lt;/p&gt;&lt;p&gt;{!input_ActivityDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Success_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displaySuccess_InputData2</name>
                    <fieldText>&lt;p&gt;優先度&lt;/p&gt;&lt;p&gt;{!input_Priority}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;状況&lt;/p&gt;&lt;p&gt;{!input_Status}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displaySuccess_InputData3</name>
            <fieldText>&lt;p&gt;コメント&lt;/p&gt;&lt;p&gt;{!input_Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Success_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Success_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>displaySuccess_SelectedAccountTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:cmTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>originalRecords</name>
                <value>
                    <elementReference>input_Table.selectedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldNames</name>
                <value>
                    <stringValue>Name,Phone,BillingAddress,Website</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCheckbox</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_newTodoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_TempNewTodo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
